<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Winter Postcards ✨
</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <a href="/" class="logo-text">Winter Postcards</a>

    <a href="mail to- :shivamt.2528@itmuniversity.org" class="contact-icon">
        ❄️



    </a>
</header>
<main class="center">
  <h1>A Village Dreaming in Snow</h1>
  <p class="sub">Where every message becomes a small lantern in the dark.</p>
  <a href="/globes" class="start-btn">Choose a Snow Globe ✨
</a>
</main>





<script src="{{ url_for('static', filename='js/snow.js') }}"></script>

<div class="story-quote">
    <p class="quote-text">
        𝒩𝑜𝓉 𝑒𝓋𝑒𝓇𝓎 𝒻𝑒𝑒𝓁𝒾𝓃𝑔 𝓀𝓃𝑜𝓌𝓈 𝒽𝑜𝓌 𝓉𝑜 𝓈𝓅𝑒𝒶𝓀. 𝒮𝑜𝓂𝑒 𝓈𝑒𝓉𝓉𝓁𝑒 𝓆𝓊𝒾𝑒𝓉𝓁𝓎 𝒾𝓃 𝓉𝒽𝑒 𝒸𝒽𝑒𝓈𝓉, 𝓌𝒶𝒾𝓉𝒾𝓃𝑔 𝒻𝑜𝓇 𝒶 𝓃𝒾𝑔𝒽𝓉 𝓈𝑜𝒻𝓉 𝑒𝓃𝑜𝓊𝑔𝒽 𝓉𝑜 𝓈𝑒𝓉 𝓉𝒽𝑒𝓂 𝒻𝓇𝑒𝑒.
        𝒲𝒾𝓃𝓉𝑒𝓇 𝒫𝑜𝓈𝓉𝒸𝒶𝓇𝒹𝓈 𝓌𝒶𝓈 𝓂𝒶𝒹𝑒 𝒻𝑜𝓇 𝓉𝒽𝑜𝓈𝑒 𝓆𝓊𝒾𝑒𝓉 𝓉𝒽𝒾𝓃𝑔𝓈 — 𝓉𝒽𝑒 𝒽𝒶𝓁𝒻-𝒻𝑜𝓇𝓂𝑒𝒹 𝓌𝑜𝓇𝒹𝓈, 𝓉𝒽𝑒 𝓊𝓃𝒸𝑒𝓇𝓉𝒶𝒾𝓃 𝓌𝒶𝓇𝓂𝓉𝒽, 𝓉𝒽𝑒 𝓁𝒾𝓉𝓉𝓁𝑒 𝒶𝒸𝒽𝑒 𝓉𝒽𝒶𝓉 𝓉𝓊𝓇𝓃𝓈 𝒾𝓃𝓉𝑜 𝒶 𝓌𝒾𝓈𝒽.
        𝐼𝓃𝓈𝒾𝒹𝑒 𝑒𝒶𝒸𝒽 𝓈𝓃𝑜𝓌 𝑔𝓁𝑜𝒷𝑒, 𝒶 𝓈𝓉𝒾𝓁𝓁 𝓂𝑜𝓂𝑒𝓃𝓉 𝓌𝒶𝒾𝓉𝓈, 𝒽𝑜𝓁𝒹𝒾𝓃𝑔 𝒶 𝓅𝓁𝒶𝒸𝑒 𝒻𝑜𝓇 𝓉𝒽𝑒 𝓂𝑒𝓈𝓈𝒶𝑔𝑒 𝓎𝑜𝓊’𝓋𝑒 𝒷𝑒𝑒𝓃 𝒸𝒶𝓇𝓇𝓎𝒾𝓃𝑔.
        𝒲𝓇𝒾𝓉𝑒 𝓌𝒽𝒶𝓉 𝓎𝑜𝓊𝓇 𝒽𝑒𝒶𝓇𝓉 𝒽𝑒𝓈𝒾𝓉𝒶𝓉𝑒𝒹 𝓉𝑜 𝓈𝒶𝓎, 𝓈𝑒𝒶𝓁 𝒾𝓉 𝒾𝓃 𝓌𝒾𝓃𝓉𝑒𝓇 𝑔𝓁𝒶𝓈𝓈, 𝒶𝓃𝒹 𝓁𝑒𝓉 𝒾𝓉 𝒹𝓇𝒾𝒻𝓉 𝒾𝓃𝓉𝑜 𝓉𝒽𝑒 𝓃𝒾𝑔𝒽𝓉 𝓉𝑜𝓌𝒶𝓇𝒹 𝓈𝑜𝓂𝑒𝑜𝓃𝑒 𝓌𝒽𝑜𝓈𝑒 𝓌𝑜𝓇𝓁𝒹 𝓂𝒾𝑔𝒽𝓉 𝒷𝓇𝒾𝑔𝒽𝓉𝑒𝓃 𝒷𝑒𝒸𝒶𝓊𝓈𝑒 𝑜𝒻 𝓎𝑜𝓊.
    </p>
    <p class="quote-author">— 𝓼𝓱𝓲𝓿𝓪𝓶</p>
</div>

</body>
</html>
<script src="{{ url_for('static', filename='js/snow.js') }}?v=9999"></script>
