<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Winter Postcards ✨</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <a href="/" class="logo-text">Winter Postcards</a>

    <a href="mailto:shivamt.2528@itmuniversity.org" class="contact-icon">
        ❄️
    </a>
</header>

<main class="center">
  <h1>A Village Dreaming in Snow</h1>
  <p class="sub">Where every message becomes a small lantern in the dark.</p>
  <a href="/globes" class="start-btn">Choose a Snow Globe ✨</a>
</main>





<script src="{{ url_for('static', filename='js/snow.js') }}"></script>

<div class="story-quote">
    <p class="quote-text">
       𝖭𝗈𝗍 𝖾𝗏𝖾𝗋𝗒 𝖿𝖾𝖾𝗅𝗂𝗇𝗀 𝗄𝗇𝗈𝗐𝗌 𝗁𝗈𝗐 𝗍𝗈 𝗌𝗉𝖾𝖺𝗄. 𝖲𝗈𝗆𝖾 𝗌𝖾𝗍𝗍𝗅𝖾 𝗊𝗎𝗂𝖾𝗍𝗅𝗒 𝗂𝗇 𝗍𝗁𝖾 𝖼𝗁𝖾𝗌𝗍, 𝗐𝖺𝗂𝗍𝗂𝗇𝗀 𝖿𝗈𝗋 𝖺 𝗇𝗂𝗀𝗁𝗍 𝗌𝗈𝖿𝗍 𝖾𝗇𝗈𝗎𝗀𝗁 𝗍𝗈 𝗌𝖾𝗍 𝗍𝗁𝖾𝗆 𝖿𝗋𝖾𝖾.
        𝖶𝗂𝗇𝗍𝖾𝗋 𝖯𝗈𝗌𝗍𝖼𝖺𝗋𝖽𝗌 𝗐𝖺𝗌 𝗆𝖺𝖽𝖾 𝖿𝗈𝗋 𝗍𝗁𝗈𝗌𝖾 𝗊𝗎𝗂𝖾𝗍 𝗍𝗁𝗂𝗇𝗀𝗌 — 𝗍𝗁𝖾 𝗁𝖺𝗅𝖿-𝖿𝗈𝗋𝗆𝖾𝖽 𝗐𝗈𝗋𝖽𝗌, 𝗍𝗁𝖾 𝗎𝗇𝖼𝖾𝗋𝗍𝖺𝗂𝗇 𝗐𝖺𝗋𝗆𝗍𝗁, 𝗍𝗁𝖾 𝗅𝗂𝗍𝗍𝗅𝖾 𝖺𝖼𝗁𝖾 𝗍𝗁𝖺𝗍 𝗍𝗎𝗋𝗇𝗌 𝗂𝗇𝗍𝗈 𝖺 𝗐𝗂𝗌𝗁.
        𝖨𝗇𝗌𝗂𝖽𝖾 𝖾𝖺𝖼𝗁 𝗌𝗇𝗈𝗐 𝗀𝗅𝗈𝖻𝖾, 𝖺 𝗌𝗍𝗂𝗅𝗅 𝗆𝗈𝗆𝖾𝗇𝗍 𝗐𝖺𝗂𝗍𝗌, 𝗁𝗈𝗅𝖽𝗂𝗇𝗀 𝖺 𝗉𝗅𝖺𝖼𝖾 𝖿𝗈𝗋 𝗍𝗁𝖾 𝗆𝖾𝗌𝗌𝖺𝗀𝖾 𝗒𝗈𝗎’𝗏𝖾 𝖻𝖾𝖾𝗇 𝖼𝖺𝗋𝗋𝗒𝗂𝗇𝗀.  𝖶𝗋𝗂𝗍𝖾 𝗐𝗁𝖺𝗍 𝗒𝗈𝗎𝗋 𝗁𝖾𝖺𝗋𝗍 𝗁𝖾𝗌𝗂𝗍𝖺𝗍𝖾𝖽 𝗍𝗈 𝗌𝖺𝗒,
        𝗌𝖾𝖺𝗅 𝗂𝗍 𝗂𝗇 𝗐𝗂𝗇𝗍𝖾𝗋 𝗀𝗅𝖺𝗌𝗌, 𝖺𝗇𝖽 𝗅𝖾𝗍 𝗂𝗍 𝖽𝗋𝗂𝖿𝗍 𝗂𝗇𝗍𝗈 𝗍𝗁𝖾 𝗇𝗂𝗀𝗁𝗍 𝗍𝗈𝗐𝖺𝗋𝖽 𝗌𝗈𝗆𝖾𝗈𝗇𝖾 𝗐𝗁𝗈𝗌𝖾 𝗐𝗈𝗋𝗅𝖽 𝗆𝗂𝗀𝗁𝗍 𝖻𝗋𝗂𝗀𝗁𝗍𝖾𝗇 𝖻𝖾𝖼𝖺𝗎𝗌𝖾 𝗈𝖿 𝗒𝗈𝗎.
    </p>
    <p class="quote-author">— 𝓼𝓱𝓲𝓿𝓪𝓶</p>
</div>

</body>
</html>
<script src="{{ url_for('static', filename='js/snow.js') }}?v=9999"></script>

